$mainBackground:rgb(196, 219, 196);
// Header
$headerBackground: green;
$headerFont:lightgreen;
// Single story in main
$singleStory:green;
$singleStoryHeader:lightgreen;
// Comments
$author:green;
$commentBackground:lightgreen